In [8]:
library(data.table)
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
dt=fread("bulk_consumption_with_temp.csv")

In [4]:
dt_new=fread("C:/Users/bahad/GitHub/360project/all_features_df.csv")
droped=fread("C:/Users/bahad/GitHub/360project/droped_all_features_df.csv")

In [5]:
dt$Date=as.Date(dt$Date)
str(dt)

Classes 'data.table' and 'data.frame':	35232 obs. of  10 variables:
 $ Date       : Date, format: "2017-01-01" "2017-01-01" ...
 $ Hour       : int  0 1 2 3 4 5 6 7 8 9 ...
 $ Consumption: num  25409 24166 22652 21578 21018 ...
 $ T_1        : num  -15.9 -15.9 -15.9 -15.9 -15.9 ...
 $ T_2        : num  4.18 4.18 4.18 4.18 4.18 4.18 4.18 4.33 4.48 4.63 ...
 $ T_3        : num  0.89 0.89 0.89 0.89 0.89 0.89 0.89 0.92 0.95 0.98 ...
 $ T_4        : num  -19 -19 -19 -19 -19 ...
 $ T_5        : num  -14.8 -14.8 -14.8 -14.8 -14.8 ...
 $ T_6        : num  -10.7 -10.7 -10.7 -10.7 -10.7 ...
 $ T_7        : num  2.16 2.16 2.16 2.16 2.16 2.16 2.16 1.82 1.48 1.14 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [6]:
dt_new$date=as.Date(dt_new$date)
str(dt_new)

Classes 'data.table' and 'data.frame':	1484 obs. of  22 variables:
 $ date                    : Date, format: "2017-01-01" "2017-01-02" ...
 $ Consumption             : num  623400 751053 784007 796582 787800 ...
 $ T_1                     : num  -10.125 -6.708 -11.472 -5.925 0.408 ...
 $ T_2                     : num  6.17 4.8 6.83 6.28 6.84 ...
 $ T_3                     : num  2.81 4.01 6.86 9.92 12.56 ...
 $ T_4                     : num  -13.22 -7.81 -12.38 -9.13 -1.21 ...
 $ T_5                     : num  -10.74 -10.29 -8.82 -4.37 1.28 ...
 $ T_6                     : num  -8.6 -8.62 -7.56 -6.56 -1.94 ...
 $ T_7                     : num  2.69 4.61 6.76 8.18 9.24 ...
 $ reduced_temp            : num  -11.83 -7.656 -7.598 -0.709 10.211 ...
 $ holiday_val(as_factor)  : int  1 0 0 0 0 0 0 0 0 0 ...
 $ weekday(as_factor)      : num  7 1 2 3 4 5 6 7 1 2 ...
 $ lock_down(as_factor)    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ covid_severity          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ sunlight_time_minutes   : int  558 558 559 560 561 562 563 564 565 567 ...
 $ production_capacity_rate: num  77 77 77 77 77 77 77 77 77 77 ...
 $ price_of_electricity    : num  317 317 317 317 317 ...
 $ laborforce              : num  51.5 51.5 51.5 51.5 51.5 51.5 51.5 51.5 51.5 51.5 ...
 $ unemployment            : num  13 13 13 13 13 13 13 13 13 13 ...
 $ export                  : num  12101 12101 12101 12101 12101 ...
 $ import                  : num  15336 15336 15336 15336 15336 ...
 $ di                      : num  241 241 241 241 241 241 241 241 241 241 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [9]:
dt_daily =dt %>% 
  group_by(Date) %>% 
  summarise(Consumption = sum(Consumption),
            T_1=mean(T_1),
            T_2=mean(T_2),
            T_3=mean(T_3),
            T_4=mean(T_4),
            T_5=mean(T_5),
            T_6=mean(T_6),
            T_7=mean(T_7),
           )

`summarise()` ungrouping output (override with `.groups` argument)

## Weight in the features

In [16]:
cons_city=data.table(ant=7061598.02, adn=6032238.75, kon=4528707.86 , 
                     izm=15862142.35 , esk=2559348.73, ank=12144912.02 , 
                     ist=36926578.92 )

In [17]:
cons_city

  ant     adn     kon     izm      esk     ank      ist
1 7061598 6032239 4528708 15862142 2559349 12144912 36926579

In [ ]:
write.csv(cons_city,"Eneryg_consumption_cities.csv",row.names=FALSE)

In [24]:
trans_temp=transmute(dt_daily,T_1=T_1*cons_city$ant,
                  T_2=T_2*cons_city$adn,
                  T_3=T_3*cons_city$kon,
                  T_4=T_4*cons_city$izm,
                  T_5=T_5*cons_city$esk,
                  T_6=T_6*cons_city$ank,
                  T_7=T_7*cons_city$ist)

In [25]:
form_pca1 <-prcomp(trans_temp, center = TRUE,scale. = TRUE)
form_pca1
summary(form_pca1)

Standard deviations (1, .., p=7):
[1] 2.6007533 0.3045660 0.2647352 0.1680897 0.1421058 0.1281969 0.0914037

Rotation (n x k) = (7 x 7):
          PC1         PC2        PC3         PC4          PC5         PC6
T_1 0.3794502 -0.26399341  0.2609499 -0.51307537  0.341861647 -0.52828673
T_2 0.3748089 -0.44298015  0.5956114  0.33028914 -0.393492510  0.13446824
T_3 0.3782977  0.41136437  0.0394041 -0.60811224 -0.396601968  0.39525766
T_4 0.3800144 -0.26313613 -0.3202569 -0.02355519  0.501850016  0.33372685
T_5 0.3790882  0.09768834 -0.4838606  0.18799399 -0.422108572 -0.58308874
T_6 0.3803995 -0.19983035 -0.3827783  0.21608464 -0.008274137  0.30357797
T_7 0.3736363  0.66793684  0.3039649  0.41865628  0.375371272 -0.05547188
            PC7
T_1  0.24295594
T_2 -0.16286457
T_3 -0.05287041
T_4 -0.56568726
T_5 -0.24314219
T_6  0.72795893
T_7  0.05106724

Importance of components:
                          PC1     PC2     PC3     PC4     PC5     PC6     PC7
Standard deviation     2.6008 0.30457 0.26474 0.16809 0.14211 0.12820 0.09140
Proportion of Variance 0.9663 0.01325 0.01001 0.00404 0.00288 0.00235 0.00119
Cumulative Proportion  0.9663 0.97953 0.98954 0.99357 0.99646 0.99881 1.00000

# PCA

In [18]:
form_pca <-prcomp(dt_daily[,c(3,4,5,6,7,8,9)], center = TRUE,scale. = TRUE)
form_pca
summary(form_pca)

Standard deviations (1, .., p=7):
[1] 2.6007533 0.3045660 0.2647352 0.1680897 0.1421058 0.1281969 0.0914037

Rotation (n x k) = (7 x 7):
          PC1         PC2        PC3         PC4          PC5         PC6
T_1 0.3794502 -0.26399341  0.2609499 -0.51307537  0.341861647 -0.52828673
T_2 0.3748089 -0.44298015  0.5956114  0.33028914 -0.393492510  0.13446824
T_3 0.3782977  0.41136437  0.0394041 -0.60811224 -0.396601968  0.39525766
T_4 0.3800144 -0.26313613 -0.3202569 -0.02355519  0.501850016  0.33372685
T_5 0.3790882  0.09768834 -0.4838606  0.18799399 -0.422108572 -0.58308874
T_6 0.3803995 -0.19983035 -0.3827783  0.21608464 -0.008274137  0.30357797
T_7 0.3736363  0.66793684  0.3039649  0.41865628  0.375371272 -0.05547188
            PC7
T_1  0.24295594
T_2 -0.16286457
T_3 -0.05287041
T_4 -0.56568726
T_5 -0.24314219
T_6  0.72795893
T_7  0.05106724

Importance of components:
                          PC1     PC2     PC3     PC4     PC5     PC6     PC7
Standard deviation     2.6008 0.30457 0.26474 0.16809 0.14211 0.12820 0.09140
Proportion of Variance 0.9663 0.01325 0.01001 0.00404 0.00288 0.00235 0.00119
Cumulative Proportion  0.9663 0.97953 0.98954 0.99357 0.99646 0.99881 1.00000

In [19]:
dt_daily=mutate(dt_daily, reduced_temp= 0.3794502 * T_1 + 0.3748089 * T_2 + 0.3782977 * T_3 + 0.3800144 * T_4 + 0.3790882 * T_5 + 0.3803995 * T_6 + 0.3736363 * T_7)

In [20]:
tail(dt_daily)

  Date       Consumption T_1      T_2      T_3      T_4      T_5      T_6
1 2021-01-02 726646.4    3.560417 13.37708 12.35667 4.783333 6.638333 4.619167
2 2021-01-03 720560.6    4.275000 14.59000 11.78333 4.312083 6.190833 4.259583
3 2021-01-04 853158.7    4.093750 13.92000 13.11375 4.164583 6.160000 4.292083
4 2021-01-05 881358.2    4.450833 13.06417 13.55292 6.442500 6.557500 4.482917
5 2021-01-06 892375.8    5.069167 13.01750 11.55833 5.268750 5.084167 4.445000
6 2021-01-07 895189.8    4.612917 13.92167 12.15042 5.903750 6.948333 5.118333
  T_7      reduced_temp
1 12.67542 21.86672
2 12.70917 21.90269
3 13.21083 22.21815
4 12.76125 23.11995
5 12.07833 21.30839
6 12.73625 23.14809

In [21]:
write.csv(dt_daily,"Daily_values_with_reduced_temperature.csv",row.names=FALSE)