In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import pytrends
from pytrends.request import TrendReq
from datetime import date, datetime, timedelta
import investpy

# Update Covid Data

In [2]:
full_lockdown = [dt.date(2020, 4, 11),
                 dt.date(2020, 4, 12),
                 dt.date(2020, 4, 18),
                 dt.date(2020, 4, 19),
                 dt.date(2020, 4, 23),
                 dt.date(2020, 4, 24),
                 dt.date(2020, 4, 25),
                 dt.date(2020, 4, 26),
                 
                 dt.date(2020, 5, 1),
                 dt.date(2020, 5, 2),
                 dt.date(2020, 5, 3),
                 dt.date(2020, 5, 9),
                 dt.date(2020, 5, 10),
                 dt.date(2020, 5, 16),
                 dt.date(2020, 5, 17),
                 dt.date(2020, 5, 18),
                 dt.date(2020, 5, 19),
                 dt.date(2020, 5, 23),
                 dt.date(2020, 5, 24),
                 dt.date(2020, 5, 25),
                 dt.date(2020, 5, 26),
                 dt.date(2020, 5, 30),
                 dt.date(2020, 5, 31),
                 
                 dt.date(2020, 12, 5),
                 dt.date(2020, 12, 6),
                 dt.date(2020, 12, 12),
                 dt.date(2020, 12, 13),
                 dt.date(2020, 12, 19),
                 dt.date(2020, 12, 20),
                 dt.date(2020, 12, 26),
                 dt.date(2020, 12, 27),
                         
                 dt.date(2021, 1, 1),
                 dt.date(2021, 1, 2),
                 dt.date(2021, 1, 3),
                 dt.date(2021, 1, 9),
                 dt.date(2021, 1, 10),
                 dt.date(2021, 1, 16),
                 dt.date(2021, 1, 17),
                 dt.date(2021, 1, 23),
                 dt.date(2021, 1, 24),
                 dt.date(2021, 1, 30),
                 dt.date(2021, 1, 31),
                 
                 dt.date(2021, 2, 6),
                 dt.date(2021, 2, 7),
                 dt.date(2021, 2, 11),
                 dt.date(2021, 2, 13),
                 dt.date(2021, 2, 14)]

partial_lockdown = [dt.date(2021, 12, 4),
                 dt.date(2021, 12, 7),
                 dt.date(2021, 12, 8),
                 dt.date(2021, 12, 9),
                 dt.date(2021, 12, 10),
                 dt.date(2021, 12, 11),
                 dt.date(2021, 12, 14),
                 dt.date(2021, 12, 15),
                 dt.date(2021, 12, 16),
                 dt.date(2021, 12, 17),
                 dt.date(2021, 12, 18),
                 dt.date(2021, 12, 21),
                 dt.date(2021, 12, 22),
                 dt.date(2021, 12, 23),
                 dt.date(2021, 12, 24),
                 dt.date(2021, 12, 25),
                 dt.date(2021, 12, 28),                
                 dt.date(2021, 12, 29),
                 dt.date(2021, 12, 30),
                 dt.date(2021, 12, 31),
                    
                 dt.date(2021, 1, 4),
                 dt.date(2021, 1, 5),
                 dt.date(2021, 1, 6),
                 dt.date(2021, 1, 7),
                 dt.date(2021, 1, 8),
                 dt.date(2021, 1, 11),
                 dt.date(2021, 1, 12),
                 dt.date(2021, 1, 13),
                 dt.date(2021, 1, 14),
                 dt.date(2021, 1, 15),
                 dt.date(2021, 1, 18),
                 dt.date(2021, 1, 19),
                 dt.date(2021, 1, 20),
                 dt.date(2021, 1, 21),
                 dt.date(2021, 1, 22),
                 dt.date(2021, 1, 25),
                 dt.date(2021, 1, 26),
                 dt.date(2021, 1, 27),
                 dt.date(2021, 1, 28),
                 dt.date(2021, 1, 29),

                 dt.date(2021, 2, 1),
                 dt.date(2021, 2, 2),
                 dt.date(2021, 2, 3),
                 dt.date(2021, 2, 4),
                 dt.date(2021, 2, 5),
                 dt.date(2021, 2, 8),
                 dt.date(2021, 2, 9),
                 dt.date(2021, 2, 10),
                 dt.date(2021, 2, 11),
                 dt.date(2021, 2, 12)]

today = dt.datetime.today()

# Specify the parameters to your liking
start_date= date(2019, 12, 1) # specify your start date
end_date= date(today.year, today.month, today.day) # specify your end date
key_word = '/g/11j2cc_qll' # use one key word
_cat = 0 # Category to narrow down your results
_geo = 'TR' # Two letter country abbreviation
_gprop = '' # What Google property to filter to (e.g 'images')
_hl = 'tr-TR' # Specify Language and Region
_tz = 180 # specify your time-zone

covid_data = pd.read_csv("Python Code\oguzhan_work\covid_and_lockdown.csv").sort_values(by="date")
covid_data.columns = ["date", "lock_down", "covid_severity"]
covid_data.date.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%d"))
covid_data = covid_data.set_index("date")
print(covid_data)

_timeframe = 'now 7-d'
totalTrend = TrendReq(hl=_hl, tz=_tz)
totalTrend.build_payload([key_word], cat=_cat, timeframe=_timeframe, geo=_geo, gprop=_gprop)
totalTrend = totalTrend.interest_over_time()
totalTrend.columns = ["covid_severity", "is_partial"]
totalTrend["date_no_hours"] = totalTrend.index
totalTrend.date_no_hours = totalTrend.date_no_hours.apply(lambda x: str(dt.date(x.year, x.month, x.day)))
last_week_covid = totalTrend.groupby("date_no_hours").mean()

last_available_severity = covid_data.iloc[-3, 1]
last_available_date = covid_data.index[-3]

normalizer = last_available_severity / last_week_covid.loc[last_available_date, "covid_severity"]
last_week_covid.covid_severity = last_week_covid.covid_severity*normalizer


covid_data.loc[last_week_covid.index, "covid_severity"] = last_week_covid.covid_severity
#unavailable_covid_data = last_week_covid[last_week_covid.index>last_available_date]
#
#print(unavailable_covid_data)
#
#if len(unavailable_covid_data):  
#    unavailable_covid_data.loc[:, "lock_down"] = 0
#    for i in unavailable_covid_data.index:
#        my_date = dt.datetime.strptime(i, "%Y-%m-%d")
#        my_date = dt.date(my_date.year, my_date.month, my_date.day)
#        
#        if my_date in partial_lockdown:
#            unavailable_covid_data.loc[i, "lock_down"] = 1
#        elif my_date in full_lockdown:
#            unavailable_covid_data.loc[i, "lock_down"] = 2
#    covid_data = covid_data.append(unavailable_covid_data)
#    
#try:
#    covid_data = covid_data.drop("is_partial", 1)
#except:
#    pass


covid_data.loc[str(dt.date.today() + dt.timedelta(days=1)), ] = (0 ,covid_data.iloc[-1, 1])

if dt.date.today() + dt.timedelta(days=1) in partial_lockdown:
    covid_data.loc[str(dt.date.today() + dt.timedelta(days=1)), "lock_down"] = 1
elif dt.date.today() + dt.timedelta(days=1) in full_lockdown:
    covid_data.loc[str(dt.date.today() + dt.timedelta(days=1)), "lock_down"] = 2

#covid_data.loc[covid_data.index.isin(last_week_covid.index), "covid_severity"] = last_week_covid.covid_severity
covid_data.loc["2021-02-03", :] = 1,30.775823
covid_data.to_csv(r"Python Code\oguzhan_work\covid_and_lockdown.csv")
covid_data

            lock_down  covid_severity
date
2017-01-01        0.0        0.000000
2017-01-02        0.0        0.000000
2017-01-03        0.0        0.000000
2017-01-04        0.0        0.000000
2017-01-05        0.0        0.000000
...               ...             ...
2021-02-09        1.0       23.890272
2021-02-10        1.0       25.406720
2021-02-11        1.0       30.801298
2021-02-12        1.0       31.025036
2021-02-13        2.0       31.025036

[1505 rows x 2 columns]

            lock_down  covid_severity
date
2017-01-01        0.0        0.000000
2017-01-02        0.0        0.000000
2017-01-03        0.0        0.000000
2017-01-04        0.0        0.000000
2017-01-05        0.0        0.000000
...               ...             ...
2021-02-10        1.0       24.887208
2021-02-11        1.0       30.801298
2021-02-12        1.0       34.133602
2021-02-13        2.0       22.335444
2021-02-14        2.0       22.335444

[1506 rows x 2 columns]

# Update Holidays Data

In [3]:
#official_holidays = pd.read_excel("Python Code\oguzhan_work\official holidays.xlsx")
#
#def date_converter(x):
#    x = x[:x.rfind(" " )]
#    x = x.replace(" ", "-")
#    x = x.replace("Ocak", "01")
#    x = x.replace("Åžubat", "02")
#    x = x.replace("Mart", "03")
#    x = x.replace("Nisan", "04")
#    x = x.replace("MayÄ±s", "05")
#    x = x.replace("Haziran", "06")
#    x = x.replace("Temmuz", "07")
#    x = x.replace("AÄŸustos", "08")
#    x = x.replace("EylÃ¼l", "09")
#    x = x.replace("Ekim", "10")
#    x = x.replace("KasÄ±m", "11")
#    x = x.replace("AralÄ±k", "12")
#    x = dt.datetime.strptime(x, "%d-%m-%Y")
#    return x
#official_holidays.date = official_holidays.date.apply(lambda x: date_converter(x))
#
#nat_hols = ["Zafer BayramÄ±", "Ulusal Egemenlik ve Ã‡ocuk BayramÄ±", "AtatÃ¼rk'Ã¼ Anma, GenÃ§lik ve Spor BayramÄ±", "Cumhuriyet BayramÄ±"
#           , "Emek ve DayanÄ±ÅŸma GÃ¼nÃ¼*"]
#
#kurban = ["Kurban BayramÄ± (4.GÃ¼n)", "Kurban BayramÄ± (1.GÃ¼n)", "Kurban BayramÄ± (2.GÃ¼n)", "Kurban BayramÄ± (3.GÃ¼n)"]
#ramazan = ["Ramazan BayramÄ± (1.GÃ¼n)", "Ramazan BayramÄ± (2.GÃ¼n)","Ramazan BayramÄ± (3.GÃ¼n)"]
#
## Add yÄ±lbaÅŸÄ±, kurban, ramazan, 15 temmuz seperately
#my_date = dt.datetime(2017,1,1)
#holidays_data = pd.DataFrame(columns=["holiday_val"])
#
#
#while my_date <= dt.datetime.today() + dt.timedelta(days=1):
#    holidays_data.loc[my_date,"holiday_val"] = 0
#    tmp_holiday_data = official_holidays[official_holidays.date==my_date] 
#    
#    if len(tmp_holiday_data) > 0:
#        holidays_data.loc[my_date,"holiday_val"] = tmp_holiday_data.iloc[0,1]
#
#    my_date = my_date + dt.timedelta(days=1)
#    
##YÄ±lbaÅŸÄ±: 1
##Milli bayram: 2 (15 July included)
##kurban: 3
##kurban arefesi:4
##ramazan: 5
##ramazan arefesi: 6
## birleÅŸen tatil: 7
#
#holidays_data.loc[holidays_data.holiday_val=="YÄ±lbaÅŸÄ±", "holiday_val"] = 1
#holidays_data.loc[holidays_data.holiday_val.isin(nat_hols), "holiday_val"] = 2
#holidays_data.loc[holidays_data.holiday_val.isin(kurban), "holiday_val"] = 3
#holidays_data.loc[holidays_data.holiday_val == "Kurban BayramÄ± Arefesi", "holiday_val"] = 4
#holidays_data.loc[holidays_data.holiday_val.isin(ramazan), "holiday_val"] = 5
#holidays_data.loc[holidays_data.holiday_val == "Ramazan BayramÄ± Arefesi", "holiday_val"] = 6
#holidays_data.loc[holidays_data.holiday_val =="Cumhuriyet BayramÄ± Arefesi", "holiday_val"] = 0
#
#for i in holidays_data.index:
#    if ((i.month==7) & (i.day==15)):
#        holidays_data.loc[i, "holiday_val"] = 2
#   
#    # Add weekday columns:
#    holidays_data.loc[i, "weekday"] = i.weekday()+1
#    
#    #Add tatil birleÅŸtirme feature:
#    if i==holidays_data.index[-1]:
#        next_day = i
#    else:
#        next_day = i + dt.timedelta(days=1)
#    
#    if i==dt.datetime(2017,1,1):
#        prv_day=i
#    else:
#        prv_day = i - dt.timedelta(days=1)
#    
#    if ((i.weekday()+1)==1) & (holidays_data.loc[i,"holiday_val"]==0) & (holidays_data.loc[next_day, "holiday_val"] != 0):
#        holidays_data.loc[i,"holiday_val"] = 7
#    
#    if ((i.weekday()+1)==5) & (holidays_data.loc[i,"holiday_val"]==0) & (holidays_data.loc[prv_day, "holiday_val"] != 0):
#        holidays_data.loc[i,"holiday_val"] = 7
#        
#holidays_data.to_csv(r"Python Code\oguzhan_work\holidays_data.csv")   
#holidays_data

In [4]:
#new_hol_fac = pd.read_csv(r"Python Code\oguzhan_work\new_hol_fac.csv")
#new_hol_fac["date"] = new_hol_fac.date.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%d"))
#new_hol_fac["weekday"] = new_hol_fac.date.apply(lambda x: x.weekday()+1)
#new_hol_fac["month"] = new_hol_fac.date.apply(lambda x: x.month)
#
#new_hol_fac = new_hol_fac.drop("Unnamed: 0", 1).set_index("date")
#
#holidays_data =  new_hol_fac.copy()

# From this point it will only update the new date.

In [5]:
holidays_data = pd.read_csv(r"Python Code\oguzhan_work\holidays_data.csv")
holidays_data["date"] = holidays_data.date.apply(lambda x: dt.datetime.strptime(x, "%Y-%m-%d"))
holidays_data = holidays_data.set_index("date")
my_date = holidays_data.index[-1]

while my_date <= dt.datetime.today() + dt.timedelta(days=1):
    holidays_data.loc[my_date,"holiday_val_factor"] = 0
    holidays_data.loc[my_date,"weekday"] = my_date.weekday() + 1
    holidays_data.loc[my_date,"month"] = my_date.month

    my_date = my_date + dt.timedelta(days=1)

holidays_data.to_csv(r"Python Code\oguzhan_work\holidays_data.csv")   
holidays_data

            holiday_val_factor  weekday  month
date
2017-01-01                 1.0      7.0    1.0
2017-01-02                 0.0      1.0    1.0
2017-01-03                 0.0      2.0    1.0
2017-01-04                 0.0      3.0    1.0
2017-01-05                 0.0      4.0    1.0
...                        ...      ...    ...
2021-02-10                 0.0      3.0    2.0
2021-02-11                 0.0      4.0    2.0
2021-02-12                 0.0      5.0    2.0
2021-02-13                 0.0      6.0    2.0
2021-02-14                 0.0      7.0    2.0

[1506 rows x 3 columns]

In [6]:
holidays_data.holiday_val_factor.value_counts()

0.0    1399
8.0      25
2.0      24
3.0      16
5.0      12
7.0       9
9.0       8
1.0       5
4.0       4
6.0       4
Name: holiday_val_factor, dtype: int64

# Add USD TRY data

In [7]:
search_results = investpy.search_quotes(text='USD TRY',
                                        products=['currencies'],
                                        countries=['Turkey'],
                                        n_results=10)
str_today = str(dt.date.today())
str_today = str_today[-2:] + "/" + str_today[-5:-3] + "/" + str_today[:4]
str_today

usdtry = search_results[0].retrieve_historical_data(from_date='30/12/2016', to_date=str_today)
usdtry = usdtry.Close
usdtry

Date
2016-12-30    3.5277
2017-01-02    3.5445
2017-01-03    3.5943
2017-01-04    3.5713
2017-01-05    3.5927
               ...
2021-02-08    7.0671
2021-02-09    7.0581
2021-02-10    7.0528
2021-02-11    7.0235
2021-02-12    7.0369
Name: Close, Length: 1076, dtype: float64

# Update TCMB data

In [8]:
erbis_new_economic = pd.read_excel(r"Python Code\oguzhan_work\EVDS (14).xlsx")[:49]
erbis_new_economic

      Tarih TP FG J045 TP FG J0  TP KKO2 IS TOP
0   2017-01      317.1   299.74            77.0
1   2017-02     320.49   302.17            76.8
2   2017-03     320.39   305.24            76.7
3   2017-04     318.93   309.23            78.4
4   2017-05     318.42   310.61            78.8
5   2017-06      318.2   309.78            79.0
6   2017-07     318.03   310.24            78.7
7   2017-08     320.57   311.85            78.8
8   2017-09     322.37   313.88            79.0
9   2017-10     325.93    320.4            79.7
10  2017-11     330.29   325.18            79.9
11  2017-12     332.47   327.41            79.0
12  2018-01     346.06   330.75            78.2
13  2018-02      345.9   333.17            77.8
14  2018-03     345.77   336.48            77.8
15  2018-04     351.35   342.78            77.3
16  2018-05     353.57   348.34            77.9
17  2018-06     355.71   357.44            78.3
18  2018-07     357.87   359.41            77.1
19  2018-08     383.95   367.66            77.8
20  2018-09     417.14   390.84            76.2
21  2018-10     447.97   401.27            75.4
22  2018-11     448.24   395.48            74.1
23  2018-12     445.91   393.88            74.1
24  2019-01     414.79   398.07            74.4
25  2019-02     415.13   398.71            74.0
26  2019-03     416.25   402.81            74.3
27  2019-04     416.66   409.63            75.0
28  2019-05     418.03   413.52            76.3
29  2019-06     419.07   413.63            77.1
30  2019-07     447.38   419.24            76.2
31  2019-08      463.8   422.84            76.6
32  2019-09     482.99   427.04            76.3
33  2019-10     518.35   435.59            76.4
34  2019-11     519.81   437.25            77.2
35  2019-12     520.47    440.5            77.0
36  2020-01     521.29   446.45            75.5
37  2020-02     521.81   448.02            76.0
38  2020-03     522.36   450.58            75.3
39  2020-04     518.26   454.43            61.6
40  2020-05     520.74   460.62            62.6
41  2020-06     522.88   465.84            66.0
42  2020-07     524.87   468.56            70.7
43  2020-08     526.18   472.61            73.3
44  2020-09     528.24   477.21            74.6
45  2020-10     545.31   487.38            75.4
46  2020-11     548.76   498.58            75.8
47  2020-12     550.33   504.81            75.6
48  2021-01        NaN      NaN            75.4

In [9]:
electricity_prices = pd.read_excel(r"Python Code\oguzhan_work\electricprices.xlsx")
electricity_prices.columns = ["date", "electricity_prices"] 

erbis_new_economic = pd.read_excel(r"Python Code\oguzhan_work\EVDS (14).xlsx")[:49]
erbis_new_economic.columns = ["date", "price_of_eletricity", "general_price_level", "production_capacity_rate"]
erbis_new_economic = erbis_new_economic.drop("price_of_eletricity", 1)#.to_csv("TCMB_Jan31_updated_data.csv")
erbis_new_economic = erbis_new_economic.merge(electricity_prices, how="right")
erbis_new_economic.date = erbis_new_economic.date.apply(lambda x: dt.datetime.strptime(x, "%Y-%m"))
erbis_new_economic = erbis_new_economic.set_index("date")
erbis_new_economic.loc[dt.datetime(2021,2,1), "production_capacity_rate"] = 75.5

In [10]:
my_date = dt.datetime(2017,1,1)
tcmb_data = pd.DataFrame(columns=["production_capacity_rate", "price_of_electricity"])

my_date = dt.datetime(2017,1,1)
tcmb_data = pd.DataFrame(columns=["production_capacity_rate", "price_of_electricity"])

while my_date < dt.datetime.today() + dt.timedelta(days=1):
    tmp_df = erbis_new_economic[erbis_new_economic.index <= my_date] 
    
    tcmb_data.loc[my_date,"production_capacity_rate"] = tmp_df.iloc[-1, 1]
    tcmb_data.loc[my_date,"price_of_electricity"] = tmp_df.iloc[-1, 2]
    #tcmb_data.loc[my_date,"laborforce"] = tmp_df.iloc[-1, 2]
    #tcmb_data.loc[my_date,"unemployment"] = tmp_df.iloc[-1, 3]
    #tcmb_data.loc[my_date,"export"] = tmp_df.iloc[-1, 4]
    
    my_date = my_date + dt.timedelta(days=1)
    
tcmb_data["usdtry"] = usdtry

my_index = tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"].index
tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"] = usdtry[my_index - dt.timedelta(days=1)].values

my_index = tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"].index
tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"] = usdtry[my_index - dt.timedelta(days=2)].values

my_index = tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"].index
tcmb_data.loc[tcmb_data.usdtry.isna(), "usdtry"] = usdtry[my_index - dt.timedelta(days=3)].values

tcmb_data.to_csv(r"Python Code\oguzhan_work\tcmb_data.csv")
tcmb_data

           production_capacity_rate price_of_electricity  usdtry
2017-01-01                       77              20.5219  3.5277
2017-01-02                       77              20.5219  3.5445
2017-01-03                       77              20.5219  3.5943
2017-01-04                       77              20.5219  3.5713
2017-01-05                       77              20.5219  3.5927
...                             ...                  ...     ...
2021-02-10                     75.5              55.1544  7.0528
2021-02-11                     75.5              55.1544  7.0235
2021-02-12                     75.5              55.1544  7.0369
2021-02-13                     75.5              55.1544  7.0369
2021-02-14                     75.5              55.1544  7.0369

[1506 rows x 3 columns]

In [11]:
#df = pd.read_excel(r"Python Code\oguzhan_work\EVDS (11).xlsx")[:151]
#df.Tarih = df.Tarih.apply(lambda x: dt.datetime.strptime(x, "%Y-%m"))
#
#new_economic_features = pd.read_csv(r"Python Code\oguzhan_work\new_economic_features.csv")
#new_economic_features["date"] = new_economic_features.apply(lambda x: dt.datetime(int(x.year), int(x.month), 1), axis=1)
#new_economic_features = new_economic_features[["date", "laborforce", "unemployment", "export"]].set_index("date")
#
#df = df.set_index("Tarih")
#df = df.merge(new_economic_features, how="right", right_index=True, left_index=True)
#df.loc[dt.datetime(2021,1,1), "TP FG J045"] = 551.5
#df.loc[dt.datetime(2021,1,1), "TP KKO2 IS TOP"] = 75.5
#
#my_date = dt.datetime(2017,1,1)
#tcmb_data = pd.DataFrame(columns=["production_capacity_rate", "price_of_electricity", "laborforce", "unemployment", "export"])
#
#while my_date < dt.datetime.today() + dt.timedelta(days=1):
#    tmp_df = df[df.index <= my_date] 
#    
#    tcmb_data.loc[my_date,"production_capacity_rate"] = tmp_df.iloc[-1, 1]
#    tcmb_data.loc[my_date,"price_of_electricity"] = tmp_df.iloc[-1, 0]
#    tcmb_data.loc[my_date,"laborforce"] = tmp_df.iloc[-1, 2]
#    tcmb_data.loc[my_date,"unemployment"] = tmp_df.iloc[-1, 3]
#    tcmb_data.loc[my_date,"export"] = tmp_df.iloc[-1, 4]
#    
#    my_date = my_date + dt.timedelta(days=1)
#    
#tcmb_data.to_csv(r"Python Code\oguzhan_work\tcmb_data.csv")
#tcmb_data

# Update sunlight time data

In [12]:
prayer_times_17 = pd.read_csv(r"Python Code\oguzhan_work\prayertimes\2017_prayer_times.csv")
prayer_times_18 = pd.read_csv(r"Python Code\oguzhan_work\prayertimes\2018_prayer_times.csv")
prayer_times_19 = pd.read_csv(r"Python Code\oguzhan_work\prayertimes\2019_prayer_times.csv")
prayer_times_20 = pd.read_csv(r"Python Code\oguzhan_work\prayertimes\2020_prayer_times.csv")
prayer_times_21 = pd.read_csv(r"Python Code\oguzhan_work\prayertimes\2021_prayer_times.csv")

prayer_times_list = [prayer_times_17, prayer_times_18, prayer_times_19, prayer_times_20, prayer_times_21]
prayer_times_df = pd.concat(prayer_times_list, axis=0)
prayer_times_df["date.readable"] = prayer_times_df["date.readable"].apply(lambda x: dt.datetime.strptime(x, "%d %b %Y"))

prayer_times_df = prayer_times_df[['timings.Fajr', 'timings.Sunrise', 'timings.Dhuhr', 'timings.Asr',
       'timings.Sunset', 'timings.Maghrib', 'timings.Isha', 'timings.Imsak',
       'timings.Midnight', 'date.readable']]

prayer_times_df.columns = ['Fajr', 'Sunrise', 'Dhuhr', 'Asr',
       'Sunset', 'Maghrib', 'Isha', 'Imsak',
       'Midnight', 'date']

prayer_times_df = prayer_times_df.set_index("date")

for i in prayer_times_df.columns:
    prayer_times_df.loc[:,i] = prayer_times_df[i].apply(lambda x: x.split()[0], 0)

prayer_times_df["sunlight_time_minutes"] = prayer_times_df.Sunset.apply(lambda x: dt.datetime.strptime(x, "%H:%M")) - prayer_times_df.Sunrise.apply(lambda x: dt.datetime.strptime(x, "%H:%M"))
prayer_times_df.sunlight_time_minutes = prayer_times_df.sunlight_time_minutes.apply(lambda x: round(x.seconds/60),0)

prayer_times_df["date"] = prayer_times_df.index
prayer_times_df.Sunrise = prayer_times_df.apply(lambda x: dt.datetime.strptime(str(x.date)[:-8] + (str(x.Sunrise)), "%Y-%m-%d %H:%M"), axis=1)
prayer_times_df.Sunset = prayer_times_df.apply(lambda x: dt.datetime.strptime(str(x.date)[:-8] + (str(x.Sunset)), "%Y-%m-%d %H:%M"), axis=1)
prayer_times_df = prayer_times_df.drop("date",1 )

prayer_times_df.to_csv(r"Python Code\oguzhan_work\prayer_times_df.csv")
prayer_times_df

,Fajr,Sunrise,Dhuhr,Asr,Sunset,Maghrib,Isha,Imsak,Midnight,sunlight_time_minutes
date,,,,,,,,,,
2017-01-01,06:50,2017-01-01 08:29:00,13:08,15:28,2017-01-01 17:47:00,17:47,19:20,06:40,01:08,558
2017-01-02,06:50,2017-01-02 08:29:00,13:08,15:29,2017-01-02 17:47:00,17:47,19:21,06:40,01:08,558
2017-01-03,06:50,2017-01-03 08:29:00,13:09,15:30,2017-01-03 17:48:00,17:48,19:21,06:40,01:09,559
2017-01-04,06:51,2017-01-04 08:29:00,13:09,15:31,2017-01-04 17:49:00,17:49,19:22,06:41,01:09,560
2017-01-05,06:51,2017-01-05 08:29:00,13:10,15:32,2017-01-05 17:50:00,17:50,19:23,06:41,01:10,561
...,...,...,...,...,...,...,...,...,...,...
2021-12-27,06:49,2021-12-27 08:28:00,13:05,15:25,2021-12-27 17:43:00,17:43,19:16,06:39,01:05,555
2021-12-28,06:49,2021-12-28 08:28:00,13:06,15:25,2021-12-28 17:43:00,17:43,19:17,06:39,01:06,555
2021-12-29,06:49,2021-12-29 08:28:00,13:06,15:26,2021-12-29 17:44:00,17:44,19:18,06:39,01:06,556
2021-12-30,06:50,2021-12-30 08:29:00,13:07,15:27,2021-12-30 17:45:00,17:45,19:18,06:40,01:07,556
2021-12-31,06:50,2021-12-31 08:29:00,13:07,15:27,2021-12-31 17:46:00,17:46,19:19,06:40,01:07,557


# Merge the data

In [13]:
covid =    pd.read_csv(r"Python Code\oguzhan_work\covid_and_lockdown.csv")
holidays = pd.read_csv(r"Python Code\oguzhan_work\holidays_data.csv")
new_hols = pd.read_csv(r"Python Code\oguzhan_work\new_holiday_data_frame.csv")

#holidays.holiday_val = new_hols.holiday_val
#holidays = holidays.fillna(0)


feature_df = holidays.merge(covid, how="outer", left_on="date", right_on="date")
feature_df.columns = ["date", 'holiday_val(as_factor)', 'weekday(as_factor)', "month_as_factor", 'lock_down(as_factor)', 'covid_severity']
feature_df = feature_df.set_index("date")
prayer_times = pd.read_csv(r"Python Code\oguzhan_work\prayer_times_df.csv")

tcmb_data = pd.read_csv(r"Python Code\oguzhan_work\tcmb_data.csv")
tcmb_data = tcmb_data.set_index("Unnamed: 0")

feature_df = feature_df.merge(prayer_times[["date", "sunlight_time_minutes"]], how="left", left_index=True, right_on="date").set_index("date")
feature_df = feature_df.merge(tcmb_data, how="left", left_index=True, right_index=True)

feature_df.columns = ['holiday_val_factor', 'weekday_factor', "month_factor", 'lock_down_factor',
       'covid_severity', 'sunlight_time_minutes', 'production_capacity_rate',
       'price_of_electricity', 'usdtry']

#feature_df = feature_df.drop("unemployment", 1)

feature_df.to_csv("all_features_df.csv")
feature_df

,holiday_val_factor,weekday_factor,month_factor,lock_down_factor,covid_severity,sunlight_time_minutes,production_capacity_rate,price_of_electricity,usdtry
date,,,,,,,,,
2017-01-01,1.0,7.0,1.0,0.0,0.000000,558,77.0,20.5219,3.5277
2017-01-02,0.0,1.0,1.0,0.0,0.000000,558,77.0,20.5219,3.5445
2017-01-03,0.0,2.0,1.0,0.0,0.000000,559,77.0,20.5219,3.5943
2017-01-04,0.0,3.0,1.0,0.0,0.000000,560,77.0,20.5219,3.5713
2017-01-05,0.0,4.0,1.0,0.0,0.000000,561,77.0,20.5219,3.5927
...,...,...,...,...,...,...,...,...,...
2021-02-10,0.0,3.0,2.0,1.0,24.887208,627,75.5,55.1544,7.0528
2021-02-11,0.0,4.0,2.0,1.0,30.801298,630,75.5,55.1544,7.0235
2021-02-12,0.0,5.0,2.0,1.0,34.133602,633,75.5,55.1544,7.0369
2021-02-13,0.0,6.0,2.0,2.0,22.335444,635,75.5,55.1544,7.0369
2021-02-14,0.0,7.0,2.0,2.0,22.335444,637,75.5,55.1544,7.0369

# Create features with dummy

In [14]:
holidays

            date  holiday_val_factor  weekday  month
0     2017-01-01                 1.0      7.0    1.0
1     2017-01-02                 0.0      1.0    1.0
2     2017-01-03                 0.0      2.0    1.0
3     2017-01-04                 0.0      3.0    1.0
4     2017-01-05                 0.0      4.0    1.0
...          ...                 ...      ...    ...
1501  2021-02-10                 0.0      3.0    2.0
1502  2021-02-11                 0.0      4.0    2.0
1503  2021-02-12                 0.0      5.0    2.0
1504  2021-02-13                 0.0      6.0    2.0
1505  2021-02-14                 0.0      7.0    2.0

[1506 rows x 4 columns]

In [15]:
holiday_val = pd.get_dummies(feature_df["holiday_val_factor"]).iloc[:,1:]
holiday_val.columns = ["new_year", "nat_holiday", "sacrifice_holiday", "sacrifice_eve", "ramadan_holiday", "ramadan_eve",  "monday_or_friday_between_holidays", "extra_holidays", "extra_holidays_2"]

week_days = pd.get_dummies(feature_df["weekday_factor"])
week_days.columns = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]

months = pd.get_dummies(feature_df["month_factor"])
months.columns = ["Jan", "Feb", "Mar", "Apr", "May", "June", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]


lock_downs = pd.get_dummies(feature_df["lock_down_factor"]).iloc[:,1:]
lock_downs.columns = ["partial_lockdown", "full_lockdown"]

In [16]:
all_features_with_dummies = feature_df.merge(week_days, how="left", right_index= True, left_index=True).merge(months, how="left", right_index= True, left_index=True).merge(holiday_val, how="left", right_index= True, left_index=True).merge(lock_downs, how="left", right_index= True, left_index=True)
all_features_with_dummies = all_features_with_dummies.drop(["holiday_val_factor", "weekday_factor", "lock_down_factor","month_factor"], 1)
all_features_with_dummies.to_csv("all_features_with_dummies.csv")
all_features_with_dummies

,covid_severity,sunlight_time_minutes,production_capacity_rate,price_of_electricity,usdtry,monday,tuesday,wednesday,thursday,friday,...,nat_holiday,sacrifice_holiday,sacrifice_eve,ramadan_holiday,ramadan_eve,monday_or_friday_between_holidays,extra_holidays,extra_holidays_2,partial_lockdown,full_lockdown
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,0.000000,558,77.0,20.5219,3.5277,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-02,0.000000,558,77.0,20.5219,3.5445,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-03,0.000000,559,77.0,20.5219,3.5943,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-04,0.000000,560,77.0,20.5219,3.5713,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-05,0.000000,561,77.0,20.5219,3.5927,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-10,24.887208,627,75.5,55.1544,7.0528,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2021-02-11,30.801298,630,75.5,55.1544,7.0235,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2021-02-12,34.133602,633,75.5,55.1544,7.0369,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2021-02-13,22.335444,635,75.5,55.1544,7.0369,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2021-02-14,22.335444,637,75.5,55.1544,7.0369,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
all_features_with_dummies.T

date,2017-01-01,2017-01-02,2017-01-03,2017-01-04,2017-01-05,2017-01-06,2017-01-07,2017-01-08,2017-01-09,2017-01-10,...,2021-02-05,2021-02-06,2021-02-07,2021-02-08,2021-02-09,2021-02-10,2021-02-11,2021-02-12,2021-02-13,2021-02-14
covid_severity,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,23.891353,20.831796,23.566295,24.737105,23.416191,24.887208,30.801298,34.133602,22.335444,22.335444
sunlight_time_minutes,558.0000,558.0000,559.0000,560.0000,561.0000,562.0000,563.0000,564.0000,565.0000,567.0000,...,615.000000,618.000000,621.000000,623.000000,625.000000,627.000000,630.000000,633.000000,635.000000,637.000000
production_capacity_rate,77.0000,77.0000,77.0000,77.0000,77.0000,77.0000,77.0000,77.0000,77.0000,77.0000,...,75.500000,75.500000,75.500000,75.500000,75.500000,75.500000,75.500000,75.500000,75.500000,75.500000
price_of_electricity,20.5219,20.5219,20.5219,20.5219,20.5219,20.5219,20.5219,20.5219,20.5219,20.5219,...,55.154400,55.154400,55.154400,55.154400,55.154400,55.154400,55.154400,55.154400,55.154400,55.154400
usdtry,3.5277,3.5445,3.5943,3.5713,3.5927,3.6445,3.6445,3.6445,3.7129,3.7885,...,7.048800,7.048800,7.048800,7.067100,7.058100,7.052800,7.023500,7.036900,7.036900,7.036900
monday,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
tuesday,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
wednesday,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
thursday,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
friday,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
saturday,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
sunday,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
Jan,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Feb,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Mar,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Apr,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
May,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
June,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Jul,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Aug,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Sep,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Oct,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Nov,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Dec,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
new_year,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
nat_holiday,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
sacrifice_holiday,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
sacrifice_eve,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ramadan_holiday,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ramadan_eve,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
monday_or_friday_between_holidays,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
extra_holidays,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
extra_holidays_2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
partial_lockdown,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
full_lockdown,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000

In [18]:
all_features_with_dummies.describe().T

,count,mean,std,min,25%,50%,75%,max
covid_severity,1506.0,9.118381,18.052059,0.0000,0.000000,0.0000,0.0000,100.0000
sunlight_time_minutes,1506.0,728.142098,122.359146,553.0000,608.000000,726.0000,847.7500,908.0000
production_capacity_rate,1506.0,75.762151,3.648917,61.6000,75.300000,76.4000,77.8000,79.9000
price_of_electricity,1506.0,35.153740,12.397266,20.5219,21.973500,36.4509,48.7941,55.1544
usdtry,1506.0,5.358050,1.377404,3.4045,3.820625,5.5785,6.1703,8.5200
monday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
tuesday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
wednesday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
thursday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
friday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
saturday,1506.0,0.142762,0.349946,0.0000,0.000000,0.0000,0.0000,1.0000
sunday,1506.0,0.143426,0.350623,0.0000,0.000000,0.0000,0.0000,1.0000
Jan,1506.0,0.102922,0.303957,0.0000,0.000000,0.0000,0.0000,1.0000
Feb,1506.0,0.084329,0.277973,0.0000,0.000000,0.0000,0.0000,1.0000
Mar,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
Apr,1506.0,0.079681,0.270889,0.0000,0.000000,0.0000,0.0000,1.0000
May,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
June,1506.0,0.079681,0.270889,0.0000,0.000000,0.0000,0.0000,1.0000
Jul,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
Aug,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
Sep,1506.0,0.079681,0.270889,0.0000,0.000000,0.0000,0.0000,1.0000
Oct,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
Nov,1506.0,0.079681,0.270889,0.0000,0.000000,0.0000,0.0000,1.0000
Dec,1506.0,0.082337,0.274969,0.0000,0.000000,0.0000,0.0000,1.0000
new_year,1506.0,0.003320,0.057543,0.0000,0.000000,0.0000,0.0000,1.0000
nat_holiday,1506.0,0.015936,0.125271,0.0000,0.000000,0.0000,0.0000,1.0000
sacrifice_holiday,1506.0,0.010624,0.102559,0.0000,0.000000,0.0000,0.0000,1.0000
sacrifice_eve,1506.0,0.002656,0.051485,0.0000,0.000000,0.0000,0.0000,1.0000
ramadan_holiday,1506.0,0.007968,0.088938,0.0000,0.000000,0.0000,0.0000,1.0000
ramadan_eve,1506.0,0.002656,0.051485,0.0000,0.000000,0.0000,0.0000,1.0000
monday_or_friday_between_holidays,1506.0,0.005976,0.077099,0.0000,0.000000,0.0000,0.0000,1.0000
extra_holidays,1506.0,0.016600,0.127811,0.0000,0.000000,0.0000,0.0000,1.0000
extra_holidays_2,1506.0,0.005312,0.072714,0.0000,0.000000,0.0000,0.0000,1.0000
partial_lockdown,1506.0,0.019920,0.139773,0.0000,0.000000,0.0000,0.0000,1.0000
full_lockdown,1506.0,0.030544,0.172137,0.0000,0.000000,0.0000,0.0000,1.0000

In [19]:
start_date = dt.datetime(2017,1,1,0,0)
dates_list = []
my_today = dt.datetime.today()

while start_date < dt.datetime(my_today.year, my_today.month, my_today.day, 23,59) + dt.timedelta(days=1):
    dates_list.append(start_date) 
    start_date = start_date + dt.timedelta(hours=1)
start_date

datetime.datetime(2021, 2, 15, 0, 0)

In [20]:
hourly_df = pd.DataFrame({"date" : dates_list})
hourly_df["is_lockdown"] = 0 
hourly_df["date_by_day"] = hourly_df.date.apply(lambda x: str(x)[:10])

#all_features_df = all_features_df.set_index("date")
for i in feature_df.index:
    if feature_df.loc[i,"lock_down_factor"] == 2:
        hourly_df.loc[hourly_df.date_by_day==i, "is_lockdown"] = 1
        
    elif feature_df.loc[i,"lock_down_factor"] == 1:
        hourly_df.loc[(hourly_df.date>=dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0)) & (hourly_df.date < dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0) + dt.timedelta(hours=8)), "is_lockdown"] = 1
        #print( hourly_df.loc[(hourly_df.date>dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0)) & (hourly_df.date < dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0) + dt.timedelta(hours=8)), "is_lockdown"])
        

    
hourly_df

                     date  is_lockdown date_by_day
0     2017-01-01 00:00:00            0  2017-01-01
1     2017-01-01 01:00:00            0  2017-01-01
2     2017-01-01 02:00:00            0  2017-01-01
3     2017-01-01 03:00:00            0  2017-01-01
4     2017-01-01 04:00:00            0  2017-01-01
...                   ...          ...         ...
36139 2021-02-14 19:00:00            1  2021-02-14
36140 2021-02-14 20:00:00            1  2021-02-14
36141 2021-02-14 21:00:00            1  2021-02-14
36142 2021-02-14 22:00:00            1  2021-02-14
36143 2021-02-14 23:00:00            1  2021-02-14

[36144 rows x 3 columns]

# Create Hourly Feature df

In [21]:
start_date = dt.datetime(2017,1,1,0,0)
dates_list = []
my_today = dt.datetime.today()

while start_date < dt.datetime(my_today.year, my_today.month, my_today.day, 23,59) + dt.timedelta(days=1):
    dates_list.append(start_date) 
    start_date = start_date + dt.timedelta(hours=1)
start_date

datetime.datetime(2021, 2, 15, 0, 0)

In [22]:
hourly_df = pd.DataFrame({"date" : dates_list})
hourly_df["is_lockdown"] = 0 
hourly_df["date_by_day"] = hourly_df.date.apply(lambda x: str(x)[:10])
hourly_df["is_sun"] = 0

#all_features_df = all_features_df.set_index("date")
for i in feature_df.index:
    if feature_df.loc[i,"lock_down_factor"] == 2:
        hourly_df.loc[hourly_df.date_by_day==i, "is_lockdown"] = 1
        
    elif feature_df.loc[i,"lock_down_factor"] == 1:
        hourly_df.loc[(hourly_df.date>=dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0)) & (hourly_df.date < dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0) + dt.timedelta(hours=8)), "is_lockdown"] = 1
        #print( hourly_df.loc[(hourly_df.date>dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0)) & (hourly_df.date < dt.datetime(int(i[:4]), int(i[5:7]), int(i[8:10]), 21,0) + dt.timedelta(hours=8)), "is_lockdown"])
        
    py_times = prayer_times_df.loc[dt.date(int(i[:4]), int(i[5:7]), int(i[8:10])), :]
    hourly_df.loc[(hourly_df.date > py_times.Sunrise) & (hourly_df.date < py_times.Sunset), "is_sun"] = 1
    
    
    hourly_df.loc[hourly_df.date_by_day==i, "holiday_val_factor"]       = feature_df.loc[i, "holiday_val_factor"]
    hourly_df.loc[hourly_df.date_by_day==i, "weekday_factor"]           = feature_df.loc[i, "weekday_factor"]
    hourly_df.loc[hourly_df.date_by_day==i, "covid_severity"]           = feature_df.loc[i, "covid_severity"]
    hourly_df.loc[hourly_df.date_by_day==i, "production_capacity_rate"] = feature_df.loc[i, "production_capacity_rate"]
    hourly_df.loc[hourly_df.date_by_day==i, "price_of_electricity"]     = feature_df.loc[i, "price_of_electricity"]
    hourly_df.loc[hourly_df.date_by_day==i, "usdtry"]                   = feature_df.loc[i, "usdtry"]
    
hourly_df =  hourly_df.drop("date_by_day",1)
hourly_df

,date,is_lockdown,is_sun,holiday_val_factor,weekday_factor,covid_severity,production_capacity_rate,price_of_electricity,usdtry
0,2017-01-01 00:00:00,0,0,1.0,7.0,0.000000,77.0,20.5219,3.5277
1,2017-01-01 01:00:00,0,0,1.0,7.0,0.000000,77.0,20.5219,3.5277
2,2017-01-01 02:00:00,0,0,1.0,7.0,0.000000,77.0,20.5219,3.5277
3,2017-01-01 03:00:00,0,0,1.0,7.0,0.000000,77.0,20.5219,3.5277
4,2017-01-01 04:00:00,0,0,1.0,7.0,0.000000,77.0,20.5219,3.5277
...,...,...,...,...,...,...,...,...,...
36139,2021-02-14 19:00:00,1,0,0.0,7.0,22.335444,75.5,55.1544,7.0369
36140,2021-02-14 20:00:00,1,0,0.0,7.0,22.335444,75.5,55.1544,7.0369
36141,2021-02-14 21:00:00,1,0,0.0,7.0,22.335444,75.5,55.1544,7.0369
36142,2021-02-14 22:00:00,1,0,0.0,7.0,22.335444,75.5,55.1544,7.0369
36143,2021-02-14 23:00:00,1,0,0.0,7.0,22.335444,75.5,55.1544,7.0369

In [23]:
hourly_df.describe()

,is_lockdown,is_sun,holiday_val_factor,weekday_factor,covid_severity,production_capacity_rate,price_of_electricity,usdtry
count,36144.000000,36144.000000,36144.000000,36144.000000,36144.000000,36144.000000,36144.00000,36144.000000
mean,0.036355,0.503929,0.355910,4.001992,9.118381,75.762151,35.15374,5.358050
std,0.187173,0.499991,1.469324,2.000857,18.046314,3.647756,12.39332,1.376965
min,0.000000,0.000000,0.000000,1.000000,0.000000,61.600000,20.52190,3.404500
25%,0.000000,0.000000,0.000000,2.000000,0.000000,75.300000,21.97350,3.820300
50%,0.000000,1.000000,0.000000,4.000000,0.000000,76.400000,36.45090,5.578500
75%,0.000000,1.000000,0.000000,6.000000,0.000000,77.800000,48.79410,6.170300
max,1.000000,1.000000,9.000000,7.000000,100.000000,79.900000,55.15440,8.520000

In [24]:
hourly_df.to_csv("hourly_feature_df.csv")

In [25]:
#get_data_until

In [26]:
#hourly_feature_df = pd.DataFrame(columns = feature_df.columns)
#hourly_feature_df["is_sun"] = 0
#
#my_datetime = dt.datetime(2017,1,1,0,0)
#tomorrow = dt.datetime.today() + dt.timedelta(days=1)
#get_data_until = dt.datetime(tomorrow.year, tomorrow.month, tomorrow.day, 23,59)
#
#columns_wont_change = feature_df.columns
#mt=0
#while my_datetime < get_data_until:
#    hourly_feature_df.loc[my_datetime,columns_wont_change]  = feature_df.loc[str(dt.date(my_datetime.year, my_datetime.month, my_datetime.day)), columns_wont_change]
#    if (hourly_feature_df.loc[my_datetime,'lock_down_factor'] == 1) & ((my_datetime.hour<21) & (my_datetime.hour>5)):
#        hourly_feature_df.loc[my_datetime,'lock_down_factor'] = 0
#        
#    # change sunlight time 
#    hourly_feature_df[my_datetime, "is_sun"] = 0
#    py_times = prayer_times_df.loc[dt.date(my_datetime.year, my_datetime.month, my_datetime.day), :]
#
#    if (my_datetime > py_times.Sunrise) & (my_datetime < py_times.Sunset):
#        hourly_feature_df[my_datetime, "is_sun"] = 1 
#    
#    my_datetime = my_datetime + timedelta(hours=1)
#    
#    if my_datetime.month !=mt:
#        mt = my_datetime.month
#        print(mt)
#hourly_feature_df.lock_down_factor = hourly_feature_df.lock_down_factor.replace(2,1)

In [27]:
#hourly_feature_df

In [28]:
#holiday_val = pd.get_dummies(hourly_feature_df["holiday_val_factor"]).iloc[:,1:]
#holiday_val.columns = ["new_year", "nat_holiday", "sacrifice_holiday", "sacrifice_eve", "ramadan_holiday", "ramadan_eve",  "monday_or_friday_between_holidays", "extra_holidays"]
#
#week_days = pd.get_dummies(hourly_feature_df["weekday_factor"])
#week_days.columns = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]

In [29]:
#hourly_feature_df.to_csv